{% extends "./base.html" %}

{% block title %} Edicion de Tipo de Carne {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edicion de Tipo de Carne</h2>  
            <div class="card py-2 ">
                <div class="card-body">
                    <form action="{% url 'update'%}" method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="txtid_tipocarne" id="txtid_tipocarne" value="{{editar.id_tipocarne}}" class="form-control" placeholder="ID TIPO DE CARNE" minlength="1" maxlength="6" required readonly> 
                        </div>
                        <div class="form-group py-4">
                            <input type="text" name="txtdescripcion" id="txtdescripcion" value="{{editar.descripcion}}" class="form-control" placeholder="DESCRIPCION" minlength="3" maxlength="50" required>
                        </div>
                        <div class="form-group d-grid gap-2">
                            <button type="submit" class="btn btn-dark btn-block">Agregar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
    </div>
    </div>
</div>

{% endblock %}